# Entorno virtual
venv/
ENV/
.env
*.env

# Archivos de base de datos
*.sqlite3
*.db

# Archivos de configuración locales
*.local

# Archivos de migraciones de Django
**/migrations/*.pyc
**/migrations/__pycache__/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales y de sistema
.DS_Store
Thumbs.db
*.log

# Archivos de configuración de editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de compilación
*.egg-info/
dist/
build/

# Archivos de coverage y testing
htmlcov/
.coverage
.tox/

# Archivos de node/npm (por si acaso)
node_modules/